
<div class="landing">



<div class="container">
	<div class="row text-center">
		<div class="jumbotron front-title">
			<h1>Welcome to Aaronbook</h1>
			<h3>Facebook for kids</h3>
			<%= link_to "Signup", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</div>
	</div>
</div>

</div>